<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Come to MHK!</h2>
                <hr class="light">
                <p class="text-faded">Come to Manhattan, KS on April 6th 2019 to celebrate the 10 year anniversary of the Wesley building. This is also the day of Kansas State Open House from 9am-3pm. In the late afternoon join us at Wesley for cocktail hour (alcohol free) followed by a dinner. Its time to remember the good times.</p>
                <br>
                <i>Drinks will be server at 4pm with dinner following at 5pm </i>
       
                <a href="#menu" class="btn btn-primary btn-xl page-scroll">Get Started!</a>
            </div>
        </div>
    </div>
</section>
