<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Come to MHK!</h2>
                <hr class="light">
                <p class="text-faded">Come to Manhattan, KS for the Kansas State Open House 9am-3pm. In the late afternoon join us at Wesley for cocktail (alcohol free) hour followed by a dinner. Its time to remember the good times.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
